//color variable
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ea510f;
$color-blue: #5a92ca;
$color-blue-dark: #3b60a8;
$color-blue-light: #63e0dc;
$color-green: #8ad830;
$color-green-light: #bddd00;

$color-base: $color-white;
$color-text: $color-black;
$color-main: $color-blue-dark;
$color-accent: $color-red;
