//color variable
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #e8e8e8;
$color-grey-light: #f9f9f9;
$color-red: #ea510f;
$color-blue: #5a92ca;
$color-blue-dark: #34559e;
$color-blue-light: #63e0dc;
$color-green: #8ad830;
$color-green-light: #bddd00;
$color-green-dark: #1d3501;

$color-base: $color-white;
$color-text: $color-black;
$color-main: $color-blue-dark;
$color-accent: $color-red;
$color-widget-box: $color-grey-light;
$color-bg-widget-category: #f7f7f7;

//font size
$footer-font-size : 18px;

//any styles
$widget-title-margin: 20px;
$widget-font-size: 20px;
$widget-link-border-radius: 3px;
$widget-link-margin: 10px;
$widget-link-padding: 8px;

//breakpoints
$breakpoints-2to1-min: 56.875em;
$breakpoints-2to1-max: 56.874em;
$breakpoints-fit-min: 44.375em;
$breakpoints-fit-max: 44.374em;
$breakpoints-1200: 1200px;

//media query settings
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}
