$footer-font-size : 18px;

.site-footer{
    background-image:url(../img/site_footer.jpg);
    background-position: center center;
    text-align: center;
    color: $color-white;
    padding: 100px 0;
    height: 0;
}

.site-footer .site-title {
    font-size:$footer-font-size;
}

.site-info{
    width: 100%;
    font-size:$footer-font-size;
}

.site-footer span,.site-footer a,.site-footer a:hover{
    color: $color-white;
}


.site-info a:hover, .site-info a:focus{
    color: $color-white;
}


