//Single page layout style.
.site-header {
  padding: 45% 0 0;
  margin-bottom: 30px;
  background: url("../img/main_visual_front.png") center top no-repeat;
  background-size: contain;
  position: relative;
  .site-branding {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .site-title {
      width: 100%;
      height: 100%;
      a {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 100%;
        overflow: hidden;
        text-indent: 100%;
      }
    }
    .site-description {
      display: none;
    }
  }
  .menu-toggle {
    position: relative;
    z-index: 10;
    width: 100%;
    border: none;
    background-color: $color-main;
    color: $color-white;
    margin: 0 0;
    &.toggled-on {
      background-color: rgba($color-main, 0.8);
      &:hover,&:focus {
        background-color: rgba($color-main, 0.8);
      }
    }
  }
  .site-header-menu {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: $color-blue-dark;
    margin: 0;
    text-align: center;
    .main-navigation {
      > div {
        height: 42px;
      }
      .primary-menu {
        display: block;
        margin: 0 auto;
        text-align: left;
        @include min-screen($breakpoints-2to1-min) {
          display: inline-block;
          border: none;
        }
        li {
          background-color: $color-blue;
          border-top: 1px solid $color-blue-dark;
          @include min-screen($breakpoints-2to1-min) {
            border-top: none;
            background: transparent;
          }
          &.menu-item-has-children {
            padding-right: 1.25em;
          }
          a {
            padding: 0.65625em 0.875em;
            color: $color-white;
          }
        }
      }
      .sub-menu {
        background-color: $color-blue;
        @include min-screen($breakpoints-2to1-min) {
          border: none;
          li {
            border-color: $color-blue-dark;
            border-top: 1px solid $color-blue-dark;
          }
          &:before,
          &:after {
            display: none;
          }
        }
      }
      .dropdown-toggle {
        color: $color-white;
      }
    }
  }
}