//Single page layout style.
.site-header {
  padding: 36% 0 0;
  background: url("https://raw.githubusercontent.com/wckansai2016/site-design/master/img/sub_visual_page.jpg") center top no-repeat;
  background-size: contain;
  position: relative;
}

.site-header-main {
  background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu.png') center center repeat;
  @include min-screen($breakpoints-2to1-min) {
    background: none;
  }
}

.site-branding {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .site-title {
    width: 100%;
    height: 100%;
    a {
      display: block;
      width: 100%;
      height: 0;
      padding-top: 45%;
      overflow: hidden;
      text-indent: 100%;
    }
  }
  .site-description {
    display: none;
  }
}

.menu-toggle {
  position: relative;
  z-index: 10;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 15px 7.6923%;
  @include btn-style( $color-white, $color-grey, 60px, 3px );
  color: $color-blue-dark;
  font-size: 16px;
  &:hover,
  &:focus,
  &.toggled-on {
    @include btn-style( $color-white, $color-grey, 60px, 3px );
  }
}

.site-header-menu {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0;
  text-align: center;
  @include min-screen($breakpoints-2to1-min) {
    background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu.png') center center repeat;
  }
}
.site-header-menu,
.site-footer {
 .main-navigation {
    position: relative;
    background-size: cover;
    margin: 0;
    background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu.png') center center repeat;
    @include min-screen($breakpoints-2to1-min) {
      background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/gnavi_cloud_base.png') center bottom no-repeat;
      > div {
        height: 90px;
      }
      li:not(:last-child):hover > ul, .main-navigation li.focus > ul {
        margin: 0;
        left: 0;
        right: auto;
      }

    }
    .primary-menu {
      display: block;
      margin: 0 auto;
      text-align: left;
      @include min-screen($breakpoints-2to1-min) {
        &:before, &:after {
          display: block;
          content: '';
          position: absolute;
          z-index: 10;
        }
        &:before {
          top: -60px;
          left: -300px;
          width: 313px;
          height: 189px;
          background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/gnavi_cloud_left.png') center center no-repeat;
        }
        &:after {
          width: 328px;
          height: 193px;
          top: -40px;
          right: -300px;
          background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/gnavi_cloud_right.png') center center no-repeat;
        }
      }
      @include min-screen($breakpoints-2to1-min) {
        display: inline-block;
        border: none;
        position: relative;
      }
      > li {
        border-top: 1px solid rgba($color-white, 0.5);
        padding: 0;
        &:hover {
          background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu_hover.png') center center repeat;
        }
        &:first-child {
          &:before {
            display: none;
          }
        }
        @include min-screen($breakpoints-2to1-min) {
          border-top: none;
          &:before {
            display: block;
            width: 1px;
            height: 30px;
            content: '';
            background-color: $color-white;
            position: absolute;
            top: 30px;
            left: 0;
          }
        }
        > a {
          height: 100%;
          padding: 30px 7.6923%;
          font-size: 16px;
          color: $color-white;
          position: relative;
          @include min-screen($breakpoints-2to1-min) {
            line-height: 90px;
            padding: 0 40px;
          }
          &:after {
            display: inline-block;
            width: 100%;
            position: absolute;
            top: auto;
            right: 0;
            bottom: 10px;
            text-align: center;
          }
        }
      }
    }
    .sub-menu {
      margin-left: 7.6923%;
      background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu_hover.png') center center repeat;
      li {
        border-top: 1px solid rgba($color-white, 0.3);
        padding-right: 7.6923%;
        a {
          color: $color-white;
          padding: 15px 0;
        }
      }
      @include min-screen($breakpoints-2to1-min) {
        border: none;
        li {
          border-color: transparent;
          border-bottom: 1px dotted $color-white;
          background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_global_menu_hover.png') center center repeat;
          a {
            width: 16em;
            padding: 30px 40px;
          }
        }
        &:before,
        &:after {
          display: none;
        }
      }
    }
    .dropdown-toggle {
      width: 100%;
      height: 100%;
      color: $color-white;
      &:after {
        position: absolute;
        top: 30px;
        right: 7.6923%;
        left: auto;
        border: none;
        width: auto;
      }
    }
  }
}
