//Organizers
.wcorg-organizers {
  @include min-screen($breakpoints-2to1-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000;
    &:after {
      display: block;
      //content: '';
      max-width: 32%;
      height: 0;
      flex-basis: 32%;
    }
  }

  .wcorg-organizer {
    position: relative;
    border: 1px solid #00baff;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(#6bddff, 0.4);
    @include min-screen($breakpoints-2to1-min) {
      max-width: 49%;
      flex-basis: 49%;
    }
    @include min-screen($breakpoints-1200) {
      max-width: 32%;
      flex-basis: 32%;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 0;
    }
    &:nth-of-type( odd ) {
      &:before {
        width: 165px;
        height: 112px;
        background: url(https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_cloud_type01.png) no-repeat center top;
        top: 20px;
      }
    }
    &:nth-of-type( even ) {
      &:before {
        width: 121px;
        height: 56px;
        background: url(https://raw.githubusercontent.com/wckansai2016/site-design/master/img/bg_cloud_type02.png) no-repeat center top;
        top: 86px;
      }
    }
    .avatar {
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
    }

    h2 {
      font-size: 1.3rem;
      padding-top: 125px;
      margin-bottom: 5px;
      text-align: center;
      border: none;
    }
    .wcorg-organizer-nickname {
      font-size: 0.8rem;
      margin-bottom: 0;
      text-align: center;
    }
    .wcorg-organizer-introduction {
      margin-bottom: 10px;
      &:before {
        width: 100%;
        //content: "\f476";
        font-family: "Genericons";
        display: block;
        text-align: center;
        margin: 25px 0;
        color: #00baff;
        @include min-screen($breakpoints-2to1-min) {
          margin: 15px 0;
        }
      }
    }
    .wcorg-organizer-url, .wcorg-organizer-sns {
      list-style: none;
      margin-left: 0;
      margin-bottom: 0;
      a:hover {
        color: $color-blue-dark;
      }
    }
    .wcorg-organizer-url {
      margin-top: 20px;
      list-style: none;
      font-size: 0.9rem;
      li {
        &:before {
          //content: "\f429";
          padding-right: 5px;
          font-family: "Genericons";
        }
      }
      a {
        box-shadow: none;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
        &:after {
          //content: "\f442";
          display: inline-block;
          padding-left: 5px;
          font-family: "Genericons";
        }
      }
    }
    .wcorg-organizer-sns {
      margin-top: 20px;
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      a {
        box-shadow: none;
      }
      li {
        margin: 0 10px;
      }
      .genericon {
        font-size: 1.3rem;
      }
    }
  }
}
