//Inquiry page layout style.

.entry-content {
	.contact-form {
		padding: 0 0 0 1.3125em;
		label {
			font-size: 1rem;
			font-weight: bold;
			margin: 0 0 1em -1.0625em;
			padding: 0 0 0 0.75em;
			border-left: 3px solid $color-green;
			span {
				font-size: 1rem;
				color: $color-red;
			}
		}
		p.contact-submit {
			margin: 2.1876em 0 1.75em;
		}
		button,
		button[disabled]:hover,
		button[disabled]:focus,
		input[type="button"],
		input[type="button"][disabled]:hover,
		input[type="button"][disabled]:focus,
		input[type="reset"],
		input[type="reset"][disabled]:hover,
		input[type="reset"][disabled]:focus,
		input[type="submit"],
		input[type="submit"][disabled]:hover,
		input[type="submit"][disabled]:focus {
			width: 100%;
			background: linear-gradient(#ddef97, #b5de29);
			color: #556b08;
			border: 1px solid #689b06;
			border-top: 1px solid #9dc120;
			box-shadow: 0 2px 0 #9dc120;
			border-radius: 8px;
			font-size: 1.25rem;
			letter-spacing: 1em;
			padding: 1.25em 0.875em 1.28125em;
		}
		button:hover,
		button:focus,
		input[type="button"]:hover,
		input[type="button"]:focus,
		input[type="reset"]:hover,
		input[type="reset"]:focus,
		input[type="submit"]:hover,
		input[type="submit"]:focus {
			margin: 2px 0 -2px;
			border: 1px solid #689b06;
			border-top: 1px solid #9dc120;
			box-shadow: none;
			background: linear-gradient(#ddef97, #b5de29);
		}
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		input[type="tel"],
		input[type="number"],
		textarea {
			background: $color-white;
			border: 1px solid #9dc120;
			border-radius: 0;
			color: $color-text;
			margin: 0 0 2.5em;
			padding: 0.1875em 0.625em;
			font-family: "游ゴシック体", "Yu Gothic", YuGothic, helvetica, arial, ‘hiragino kaku gothic pro’, meiryo, ‘ms pgothic’, sans-serif;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="password"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="number"]:focus,
		textarea:focus {
			background: $color-white;
			border-color: #9dc120;
			color: $color-text;
		}
	}
}