//Common page layout style.
.site-content {
  background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/front-contents-img-bg.jpg') no-repeat top center;
  @include min-screen($breakpoints-2to1-min) {
    padding: 4.5455% 4.5455% 0;
  }
  .site-main {
    > article {
      background: rgba($color-white, 0.75);
      padding: 3%;
    }
    ul {
      margin-left: 1em;
    }
    @include min-screen($breakpoints-2to1-min) {
      min-width: 100%;
      > article {
        padding: 30px;
      }
    }
    @include screen($breakpoints-fit-min, $breakpoints-2to1-max) {
      width: 910px;
    }
    @include max-screen($breakpoints-2to1-max) {
      width: 100%;
    }
    .pagination {
      border-top: 4px solid $color-green;
      .prev {
        background-color: $color-green;
      }
      .next {
        background-color: $color-green;
      }
      a.page-numbers {
        color: $color-white;
        background-color: $color-green;
      }
    }
    .pagination:before,
    .pagination:after {
      background-color: $color-green;
    }
    .link-wrapper {
      margin-bottom: 20px;
    }
    .btn {
      height: 60px;
      line-height: 60px;
      padding: 0 40px;
      box-shadow: 1px 1px 2px rgba($color-black,0.1);
      border-radius: 5px;
      border: 1px solid $color-green;
      background: $color-green;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, $color-green), color-stop(0.00, $color-white));
      background: -webkit-linear-gradient(top, $color-white 0%, $color-green 88%);
      background: -moz-linear-gradient(top, $color-white 0%, $color-green 88%);
      background: -o-linear-gradient(top, $color-white 0%, $color-green 88%);
      background: -ms-linear-gradient(top, $color-white 0%, $color-green 88%);
      background: linear-gradient(to bottom, $color-white 0%, $color-green 88%);
      @include max-screen($breakpoints-fit-max) {
        text-align: center;
        width: 100%;
      }
    }
    .btn:hover {
      background: $color-green;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, $color-green), color-stop(0.00, $color-white));
      background: -moz-linear-gradient(top, $color-green 20%, $color-white 100%);
      background: -o-linear-gradient(top, $color-green 20%, $color-white 100%);
      background: -ms-linear-gradient(top, $color-green 20%, $color-white 100%);
      background: linear-gradient(to bottom, $color-green 20%, $color-white 100%);
      box-shadow: 0px 0px 0px;
    }
    .btn-link {
      font-size: 1.2rem;
      font-weight: bold;
      color: rgba($color-black,0.7);
      display: inline-block;
      text-decoration: none;
    }
    .btn-link:hover {
      color: $color-white;
      text-shadow: 1px 1px 1px rgba($color-black,0.5);
    }
  }
  .sidebar {

  }
  .sharedaddy:before,
  .sharedaddy:last-child:after {
    background-color: $color-green;
  }
  .sharedaddy {
    border-top: 1px solid $color-green;
    padding: 15px 0;
    &:last-child:after {
      display: none;
    }
    .sd-sharing {
      h3.sd-title {
        border: none;
        padding: 0;
        color: $color-green;
      }
    }
  }
  .page-links a {
    background: $color-green;
    border-color: $color-green;
    border-radius: 0;
  }
}
.page .site .site-content .content-area {
 .entry-footer {
   display: none;
 }
}
