.page-slug-banners .entry-content,
.banner-area {
  dl {
    margin: 0;
  }
  dt {
    margin-bottom: 5px;
  }
  dd {
    margin-bottom: 1em;

  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, serif;
    font-size: 14px;
    -webkit-hyphens: none;
    hyphens: none;
    background: none;
  }
  pre {
    border: 1px solid $color-grey;
    background: $color-grey-light;
    color: #666;
    margin: 20px 0;
    padding: 20px;
    line-height: 1.7;
    overflow: auto;
    word-wrap: break-word;
  }
  code {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
  }
}


