//Front page layout style.

.home {
  .site-content {
    background: url('../img/front-contents-img-bg.png') no-repeat top center;
  }
  .entry-header {
    display: none;
  }
  .post-thumbnail {
    display: none;
  }
  .front-news {
    padding: 30px 30px 0;
    background: rgba($color-white,0.75);
    border-bottom: 1px solid $color-blue-dark;
    margin-bottom: 20px;
    h1 {
      font-size: 20px;
    }
  }
  .entry-content {
    a {
      box-shadow: none;
    }
  }
  .front-menu {
    display: -webkit-flex;
    display: flex;
    list-style: none;
    margin: 0 0 60px;
    li {
      display: -webkit-flex;
      display: flex;
      text-align: center;
      background: rgba($color-blue-dark,0.75);
      position: relative;
      width: 1;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: $color-white;
        text-decoration: none;
        span {
          line-height: 1;
          display: block;
        }
      }
    }
    li::after {
      font-size: 10px;
      color: $color-white;
      content: "▶";
      width: 10px;
      height: 17px;
      position: absolute;
    }
    li:hover {
      background: rgba($color-blue-dark,0.3);
    }
  }
  @include min-screen($breakpoints-2to1-max) {
    .front-menu {
      li {
        width: 195px;
        height: 120px;
        margin-right: 20px;
        a {
          padding: 35px 0;
        }
      }
      li::after {
        top: 50px;
        right: 10px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  @include screen($breakpoints-fit-min, $breakpoints-2to1-max) {
  }
  @include max-screen($breakpoints-fit-min) {
    .front-menu {
      flex-direction: column;
      li {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        a {
          padding: 8px 0;
        }
      }
      li::after {
        top: 21px;
        right: 10px;
      }
    }
  }
}
