//Front page layout style.

.home {
  .site-header {
    padding: 45% 0 0;
    background: url("../img/mv_base.jpg") center top no-repeat;
    background-size: contain;
    position: relative;
    .site-title {
      a {
        width: 90%;
        padding-top: 40%;
        background: url("../img/site_title.png") center center no-repeat;
        background-size: contain;
        margin: 5% auto 0;
        position: relative;
        overflow: inherit;
        @include min-screen(600px) {
          width: 70%;
          padding-top: 30%;
          margin: 10% auto 0;
        }
        @include min-screen($breakpoints-2to1-min) {
          width: 50%;
          padding-top: 25%;
          margin: 20% auto 0;
        }
        &:before,
        &:after {
          content: '';
          display: block;
          position: absolute;
        }
        &:before {
          width: 30%;
          height: 50%;
          background: url("../img/wapuu-left.png") center bottom no-repeat;
          top: 37%;
          left: -2%;
          background-size: contain;
          @include min-screen($breakpoints-2to1-min) {
            width: 22%;
            height: 50%;
            top: -40%;
            left: 9%;
          }
        }
        &:after {
          width: 30%;
          height: 55%;
          background: url("../img/wapuu-right.png") center bottom no-repeat;
          top: 33%;
          right: 2%;
          background-size: contain;
          @include min-screen($breakpoints-2to1-min) {
            width: 20%;
            height: 50%;
            top: -40%;
            right: 10%;
          }
        }
      }
    }
  }
    .site .site-content .content-area {
     .entry-content {
       padding: 0;
       @include min-screen($breakpoints-2to1-min) {
         padding: 0;
       }
     }
    }
    .site-main {
    > article {
      background: none;
      padding: 0;
    }
    .entry-header {
      display: none;
    }
    .post-thumbnail {
      display: none;
    }
    .front-news {
      padding: 30px;
      background: rgba($color-white, 0.75);
      border: 1px solid $color-blue-dark;
      margin-bottom: 20px;
      h2 {
        font-size: 20px;
        border: none;
        padding: 0;
      }
      :last-child {
        margin-bottom: 0;
      }
    }
    .entry-content {
      a {
        box-shadow: none;
      }
      .front-post-wrap {
        background: rgba($color-white, 0.75);
        padding: 15px;
        @include min-screen($breakpoints-2to1-min) {
          padding: 30px;
        }
      }
    }
    .front-menu {
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      li {
        display: -webkit-flex;
        display: flex;
        text-align: center;
        background: rgba($color-blue-dark, 0.75);
        position: relative;
        width: 48%;
        height: auto;
        margin: 0 4% 20px 0;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: $color-white;
          text-decoration: none;
          padding: 30px 25px;
          span {
            line-height: 1;
            display: block;
          }
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        &::after {
          font-size: 10px;
          color: $color-white;
          content: "▶";
          width: 10px;
          height: 17px;
          position: absolute;
          top: 41px;
          right: 10px;
        }
        &:hover {
          background: rgba($color-blue-dark, 0.3);
        }
      }
    }
    @include min-screen($breakpoints-1200) {
      .front-menu {
        margin: 0 0 60px;
        > li {
          width: 23%;
          height: auto;
          margin-right: 2.6666%;
          a {
            padding: 35px 25px;
          }
        }
        li:nth-child(2n) {
          margin-right: 2.6666%;
        }
        li::after {
          top: 50px;
          right: 10px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .sharedaddy {
    margin: 0 30px;
  }
}
