//Post view : WYSIWYG style.
.site-main {
  @include min-screen($breakpoints-fit-max) {
    .entry-title {
      padding: 0 100px 15px 0;
      margin-bottom: 0;
      border-bottom: 8px solid $color-green;
      position: relative;
      overflow: inherit;
    }
    .entry-title::after {
      position: absolute;
      background: url('../img/wapuuA.png') no-repeat;
      top: 0;
      right: 0;
      content: ' ';
      width: 116px;
      height: 140px;
    }
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
    border-left: 5px solid $color-green;
    padding-left: 20px;
    min-height: 25px;
  }
  h3 {
    font-size: 22px;
    border-left: 3px solid $color-green;
    padding-left: 20px;
    min-height: 25px;
  }
  .post-navigation {
    border: none;
  }
}
