//Post view : WYSIWYG style.
.site-main {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 25px;
    border-left: 5px solid $color-green;
    padding-left: 20px;
    min-height: 25px;
  }
  h3 {
    font-size: 22px;
    border-left: 3px solid $color-green;
    padding-left: 20px;
    min-height: 25px;
  }
  table {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $color-green;
    }
    th {
      background: rgba($color-green, 0.3);
    }
  }
  ul {
    list-style-type: square;
  }
  @include max-screen($breakpoints-2to1-max) {
    .post-thumbnail,
    .entry-content,
    .entry-summary,
    .entry-footer,
    .comments-area,
    .image-navigation,
    .post-navigation,
    .page-header,
    .page-content,
    .content-bottom-widgets,
    .pagination {
      margin-left: 20px;
      margin-right: 20px;
    }
    .entry-header {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .entry-title {
    padding: 0 100px 15px 0;
    margin-bottom: 0;
    border: none;
    border-bottom: 8px solid $color-green;
    position: relative;
    overflow: inherit;
    &::after {
      position: absolute;
      background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/wapuuA.png') no-repeat;
      bottom: -70px;
      right: 0;
      content: ' ';
      width: 116px;
      height: 140px;
    }
  }
  .has-post-thumbnail {
    .entry-content {
      > :first-child {
        padding-right: 0;
      }
    }
  }
  .post-navigation {
    border: none;
  }
  a.post-thumbnail:hover,
  a.post-thumbnail:focus {
    opacity: 1;
  }
  .entry-footer {
    background: url('https://raw.githubusercontent.com/wckansai2016/site-design/master/img/wapuuB.png') no-repeat top 20px left 0;
    background-size: 50px auto;
    min-height: 80px;
    padding-left: 100px;
    @include min-screen(480px) {
      background-size: 80px auto;
    }
  }
  @include max-screen($breakpoints-fit-min) {
    .entry-header,
    .entry-summary,
    .entry-content,
    .entry-footer,
    .page-content {
      margin-right: 0;
      margin-left: 0;
    }
    .entry-title::after {
      background-size: 80px 96px;
      top: 0;
      right: 0;
      content: ' ';
      width: 80px;
      height: 96px;
    }
    .post-thumbnail {
      margin: 0 0 1.75em 0;
    }
  }
}
