//Post view : WYSIWYG style.
.site-main {
  h1 {
    font-size: 22px;
  }
  h2 {
    border-left: 5px solid $color-green;
    font-size: 20px;
    padding-left: 20px;
    min-height: 25px;
    &.ticket-title {
      margin: 1em 0;
    }
  }
  h3 {
    border-left: 3px solid $color-green;
    font-size: 16px;
    padding-left: 20px;
    line-height: 1.5;
    min-height: 25px;
  }
  .entry-title {
    font-size: 22px;
  }
  table {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $color-green;
    }
    th {
      background: rgba($color-green, 0.3);
    }
    td {
      background: $color-white;
    }
  }
  ul {
    list-style-type: square;
  }
  ul,ol {
    margin-left: 2em;
  }
  @include max-screen($breakpoints-2to1-max) {
    .post-thumbnail,
    .entry-content,
    .entry-summary,
    .entry-footer,
    .comments-area,
    .image-navigation,
    .post-navigation,
    .page-header,
    .page-content,
    .content-bottom-widgets,
    .pagination {
      margin-left: 20px;
      margin-right: 20px;
    }
    .entry-header {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .entry-title {
    padding: 0 4em 15px 0;
    margin-bottom: 0;
    border: none;
    border-bottom: 8px solid $color-green;
    position: relative;
    overflow: inherit;
    &::after {
      content: ' ';
      background: url('//raw.githubusercontent.com/wckansai2016/site-design/master/img/wapuuA.png') no-repeat;
      background-size:contain;
      bottom: -2em;
      height: 4.5em;
      position: absolute;
      right: 0;
      width: 4em;
    }
  }
  .has-post-thumbnail {
    .entry-content {
      > :first-child {
        padding-right: 0;
      }
    }
  }
  .post-navigation {
    border: none;
  }
  a.post-thumbnail:hover,
  a.post-thumbnail:focus {
    opacity: 1;
  }
  .entry-footer {
    background: url('//raw.githubusercontent.com/wckansai2016/site-design/master/img/wapuuB.png') no-repeat top 20px left 0;
    background-size: 50px auto;
    min-height: 80px;
    padding-left: 100px;
    @include min-screen(480px) {
      background-size: 80px auto;
    }
  }
  @include max-screen($breakpoints-fit-min) {
    .entry-header,
    .entry-summary,
    .entry-content,
    .entry-footer,
    .page-content {
      margin-right: 0;
      margin-left: 0;
    }
    .entry-title::after {
      right: 0;
      width: 3em;
      height: 3.5em;
      background-size: contain;
      bottom: -1em;
    }
    .post-thumbnail {
      margin: 0 0 1.75em 0;
    }
  }
}
