//Sidebar layout style.

$color-grey: #e8e8e8;
$color-light-grey: #e8e8e8;
$color-dark-green: #1d3501;
$link-border-radious: 5px;
$link-margin: 15px;

.widget{
    border-top:none;
    padding-top: 0;
    padding-bottom: $link-margin;
    background-color:$color-white;
    
}
//h2 widget title
.widget-title{
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: $color-grey $color-grey $color-green;
    background: -moz-linear-gradient(top, $color-white 0%, $color-light-grey 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-white 0%,$color-light-grey 100%); /* Chrome10-25,Safari5.1-6 */
    padding:$link-margin;
    
}

/*Category
---------------------------------------------------*/
.widget_categories{
    background-color:#f7f7f7;
}

.widget_categories ul{
    margin: $link-margin;
    padding: 0 $link-margin;
    background-image:url(../img/bg_sidebar.png);
    border-radius:$link-border-radious;
    
}

.widget_categories li{
    list-style: none;
}

.widget_categories li:not(:first-child){
    border-top: 1px solid #a9ef58;
}

.widget_categories li:not(:last-child){
    border-bottom: 1px solid #63aa12;
}


.widget_categories li a{
    display: block;
    color:$color-dark-green;
    padding: 1em;
    margin-left: -$link-margin;
    margin-right: -$link-margin;
}

.widget_categories li a:hover{
    background-image:url(../img/bg_sidebar_active.png);
}

.widget ul li:first-child a{
    border-top-left-radius:$link-border-radious;
    border-top-right-radius:$link-border-radious;
}

.widget_categories ul li:last-child a{
    border-bottom-left-radius:$link-border-radious;
    border-bottom-right-radius:$link-border-radious;
}

.widget_categories ul:only-child a{
    order-radius:$link-border-radious;
}


