//Single page layout style.
.comments-title,
.comment-reply-title {
  border-top: none;
  padding-top: 0;
}

.site .site-content .content-area {
	.entry-content {
		width: 100%;
		margin: 0;
		padding: 30px 0;
	}

	.entry-footer {
		width: 100%;
		margin: 0;
		padding: 20px 0 20px 100px;
		display: flex;
        .author,
        .byline {
          padding: 0;
          position: relative;
          z-index: 10;
          &:after {
            display: none;
          }
          .url {
            position: absolute;
            top: -55px;
            left: 90px;
            line-height: 13px;
            &:before {
              font-family: "Genericons";
              content: "\f411";
              vertical-align: middle;
              font-size: 16px;
              margin-right: 2px;
            }
          }

        }
		.avatar {
			width: 70px;
			height: auto;
			display: block;
			margin: 0 20px 0 0;
			img {
				margin: 0 auto;
			}

		}
      .posted-on,
      .edit-link {
        display: inline-block;
        line-height: 13px;
        margin: 40px 20px 0 0;
        &:after {
          display: none;
        }
      }
      .posted-on {
        &:before {
          font-family: "Genericons";
          content: "\f303";
          vertical-align: middle;
          font-size: 16px;
          margin-right: 2px;
        }
      }
	}
}

body:not(.search-results) {
  article:not(.type-page) {
    .entry-content {
      width: 100%;
      border-bottom: 1px solid $color-green;
    }
    .entry-footer {
      width: 100%;
    }
  }
}
