//Single page layout style.
.comments-title,
.comment-reply-title {
  border-top: none;
  padding-top: 0;
}

.site .site-content .content-area {
  .entry-content {
    width: 100%;
    margin: 0;
    padding: 30px 0;
  }

  .entry-footer {
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 60px;
    display: flex;
    @include min-screen(480px) {
      padding: 20px 0 20px 100px;
    }
    .author,
    .byline {
      padding: 0;
      position: relative;
      z-index: 10;
      &:after {
        display: none;
      }
      .url {
        position: absolute;
        top: -25px;
        left: 50px;
        line-height: 13px;
        @include min-screen(480px) {
          top: -55px;
          left: 90px;
          &:before {
            font-family: "Genericons";
            content: " \f411";
            vertical-align: middle;
            font-size: 16px;
            margin-right: 2px;
          }
        }
      }

    }
    .byline {
      width: 40px;
      height: 40px;
      @include min-screen(480px) {
        width: 70px;
        height: 70px;
      }
    }
    .avatar {
      width: 40px;
      height: auto;
      display: block;
      margin: 0 20px 0 0;
      @include min-screen(480px) {
        width: 70px;
      }
      img {
        margin: 0 auto;
      }

    }
    .posted-on,
    .edit-link {
      display: block;
      line-height: 13px;
      margin: 60px 20px 0 0;
      @include min-screen(480px) {
        display: inline-block;
        margin: 40px 20px 0 0;
      }
      &:after {
        display: none;
      }
    }
    .posted-on {
      margin-left: -100px;
      @include min-screen(480px) {
        margin-left: 20px;
      }
      &:before {
        font-family: "Genericons";
        content: " \f303";
        vertical-align: middle;
        font-size: 16px;
        margin-right: 2px;
      }
    }
  }
}

body:not(.search-results) {
  article:not(.type-page) {
    .entry-content {
      width: 100%;
      border-bottom: 1px solid $color-green;
    }
    .entry-footer {
      width: 100%;
    }
  }
}
