//Sponsor
.widget {
  .sponsor-level {
    .sponsor-level-title {
      text-align: center;
      font-size: 1.1rem;
      padding: 10px 0;
      margin-top: 20px;
      margin-bottom: 0;
    }
    .sponsor-logo {
      border: 1px solid #CCC;
      padding: 5px;
      margin-top: 10px;
      text-align: center;
      max-height: 312px;
      img {
        width: auto;
      }
    }
    &.gold {
      .sponsor-level-title {
        background: linear-gradient(#bf9667, #ecbc28 30%, #f6e0ab);
      }
    }
    &.silver, &.bronze {
      width: 100%;
      word-spacing: -1em;
      display: table;
      display: block \9;
      margin: 0;
      padding-left: 0;
      box-sizing: border-box;
      .sponsor-logo {
        vertical-align: top;
        word-spacing: normal;
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    &.silver {
      .sponsor-level-title {
        background: linear-gradient(#e5e5e5, #ededed 30%, #f7f7f7);
      }

      .sponsor-logo {
        width: 48%;
      }
    }
    &.bronze {
      .sponsor-level-title {
        background: linear-gradient(#d17b35, #e19d65 30%, #fedac0);
      }

      .sponsor-logo {
        width: 31.3%;
      }
    }
    &.tool-sponsor {
      .sponsor-level-title {
        border-top: 2px solid #8ad830;
        border-bottom: 1px solid rgba(#8ad830, 0.3);
      }
    }
  }
}

body.single-wcb_sponsor article.type-wcb_sponsor {
  .post-thumbnail {
    margin: 70px 0 40px;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .entry-content {
    float: none;
  }

  .entry-footer {
    display: none;
  }
}
