//Ticket

.site-content {
  .content-area {
    .tix-attendee-list {
      a {
        text-decoration: none;
        box-shadow: 0 0 0 0;
      }
      .tix-attendee-url {
        padding-left: 1em;
        position: relative;
        &:before {
        	font-family: "dashicons";
        	content: "\f102";
          position: absolute;
          left: 0;
          top:0;
        }
      }
    }
  }

  #tix-attendees {
    .tix-columns-3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      li {
        width: 30%;
        flex-basis: 30%;
        height: auto;
        @include max-screen(720px) {
          width: 48%;
          flex-basis: 48%;
        }
        @include max-screen(480px) {
          width: 100%;
          flex-basis: 100%;
        }
      }
      &:after {
        display: block;
        content: '';
        max-width: 30%;
        height: 0;
        flex-basis: 30%;
      }
    }
  }

  .tix_tickets_table {
    th,
    td {
      text-align: center;
      vertical-align: middle;
      font-size: 0.9rem;
      @include max-screen(600px) {
        text-align: left;
      }
      input {
        width: 100%;
      }
    }
    .tix-column-description {
      width: 50%;
      text-align: left;
    }
  }
}
