/*
** Don't delete this file.
** Author: T. Okashita (@gouten5010)
*/
.wcorg-organizer-introduction:before {
    content: "\f476";
}

.wcorg-organizer-url li:before {
    content: "\f429";
}

.wcorg-organizer-url a:after {
    content: "\f442";
}

.site .site-content .content-area .entry-footer .posted-on:before {
    content: "\f303";
}

.site .site-content .content-area .entry-footer .author .url :before {
    content: "\f411";
}
